* {
    /*Con el * se cambia toda la font-family de la pagina*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* Estilos generales de la página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el contenido principal */
main {
    flex: 1;
    display: flex;
}

/* Estilos para la sección principal */
section {
    background-color: #330c53;
    color: white;
    flex: 2;
    padding: 20px;
}

/* Estilos para la barra lateral */
aside {
    background-color: #FB2576;
    flex: 1;
    padding: 20px;
}

/* Estilos para el encabezado, barra de navegación y pie de página */
header {
    background-color: #332FD0;
    color: white;
    padding: 20px;
}

nav,
a {
    background-color: #FB2576;
    color: white;
    padding: 20px;
    text-decoration: underline;
}

footer {
    background-color: #332FD0;
    color: white;
    padding: 20px;
}

.PicsCars {
    width: 350px;
    /*Estilos de los bordes*/
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.boton_comprar {
    color: black;
    width: 100px;

    /*Estilos de los bordes*/
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#Facebooklink {
    background-color: #332FD0;
}

#Instagramlink {
    background-color: #332FD0;
}

#Whatsapplink {
    background-color: #332FD0;
}