* {
    box-sizing: border-box;
    margin: 3px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    background-color: #2C3E50;
}

html {
    height: 100%;
}

.grid-container>* {
    box-shadow: -1px 1px 5px 0px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    text-align: center;
    padding-top: 20px;
    background-color: #0597F2;
    color: white;
}

.nav {
    grid-area: nav;
    background-color: #F20544;
}

.aside {
    grid-area: aside;
    background-color: #F2CB05;
}
.GamesLinks{
    color: black;
}

.section {
    grid-area: section;
    background-color:#2C2F40;
    color: white;
}

.footer {
    grid-area: footer;
    background-color: #0597F2;
    color: white;
}

a{
    color: white;
}

.PicsCarsFord{
    border-radius: 5%;
    max-width: 200px;
    height: auto;
}

.PicsCarsChev{
    border-radius: 5%;
    max-width: 270px;
    height: auto;
}

.PicsCarsDodge{
    border-radius: 5%;
    max-width: 290px;
    height: auto;
}

.grid-container {
    display: grid;
    gap: 10px;

    /*Definiendo el alto de las filas:*/
    /*Si queremos una columna vacia ponesmos un punto "."*/
    grid-template:
    "header header"     100px  /*alto*/
    "nav    nav"        50px
    "aside  section"    auto
    "footer footer"     100px /

    200px   auto;
    /*ancho:*/
    /*Definiendo el ancho de las columnas ( / 200px auto):*/
}